<%- include("./includes/header.ejs", {title: title}); %>

<p>Click on the link to look at the different apartment complexes</p>

<a href="/complexes/all">Check out the Apartment Complexes</a>
<br />
<br />
<br />
<br />
<a href="/about/all">About Apartment Finder</a>
<br />
<a href="/about/contact">Contact Information</a>

<br />

<%- include("./includes/footer.ejs"); %>
