<%- include("../includes/header.ejs", {title:"Amenities - View All"}); %>

<h1>Amenities</h1>
<ul>
    <li>Pool: <%= result[0].pool%></li>
    <br/>
    <li>On Site Laundry: <%= result[0].laundry%></li>
    <br/>
    <li>Gym: <%= result[0].gym%></li>
    <br/>
    <li>Day Care: <%= result[0].day_care%></li>
    <br/>
    <li>Pets: <%= result[0].pets%></li>
    <br/>
    <li>PG&E Included in Rent: <%= result[0].pge_included%></li>
    <br/>
    <li>WIFI included in Rent: <%= result[0].wifi_included%></li>
    <br/>

</ul>

<a href="/complexes/?complex_id=<%= result[0].complex_id %>"><< back</a>

<%- include("../includes/footer.ejs"); %>