<%- include("../includes/header.ejs", {title:"Apartments - All"}); %>

<h1>All Available Apartments</h1>

<br />

<table class="table table-hover">
    <tr><th>Apartment Complex</th><th>Number Rooms</th><th>Number Bathrooms</th><th>Floor</th><th>Rent Amount</th></tr>
    <% for(var i=0; result[0].length > i; i++ ) { %>
    <tr>
        <td> <%= result[0][i].name %> </td>
        <td> <%= result[0][i].number_rooms %> </td>
        <td> <%= result[0][i].number_baths %> </td>
        <td> <%= result[0][i].floor_number %> </td>
        <td> <%= result[0][i].rent_amount %> </td>
    </tr>
    <% } %>
</table>

<a href="/complexes/all"><< back</a>


<%- include("../includes/footer.ejs"); %>