<%- include("../includes/header.ejs", {title:"Apartments - All"}); %>

<h1>All apartments</h1>

<br />

<table class="table table-hover">
    <tr><th>Apartment Number</th><th>Number Rooms</th><th>Number Bathrooms</th><th>Floor</th><th>Rent Amount</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td> <%= result[i].apartment_number %> </td>
        <td> <%= result[i].number_rooms %> </td>
        <td> <%= result[i].number_baths %> </td>
        <td> <%= result[i].floor_number %> </td>
        <td> <%= result[i].rent_amount %> </td>
    </tr>
    <% } %>
</table>

<a href="/complexes/?complex_id=<%= result[0].complex_id %>"><< back</a>


<%- include("../includes/footer.ejs"); %>