<%- include("../includes/header.ejs", {title:"Complex - " + result[0].name}); %>
<h1><%= result[0].name %></h1>
<ul>
    <li>Address: <%= result[0].street_number + ' ' + result[0].zip_code %></li>
    <br/>
    <a href="/complexes/office/?complex_id=<%= result[0].complex_id %>">Office Information</a>
    <br/>
    <a href="/complexes/amenities/?complex_id=<%= result[0].complex_id %>">Available Amenities</a>
    <br/>
    <a href="/complexes/apartmentsAll/?complex_id=<%= result[0].complex_id %>">All apartments</a>
    <br/>
    <a href="/complexes/apartmentsAvailable/?complex_id=<%= result[0].complex_id %>">Available apartments</a>
    <br/>
    <br/>
    <a href="/complexes/reviews/?complex_id=<%= result[0].complex_id %>">Reviews</a>


</ul>

<a href="/complexes/all"><< back</a>

<%- include("../includes/footer.ejs"); %>