<%- include("../includes/header.ejs", {title:"Complexes - View All"}); %>

<h1>Apartment Complexes</h1>

<br />

<table class="table table-hover">
    <tr>Complex Name</tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/complexes/?complex_id=<%= result[i].complex_id %>"><%= result[i].name%></a></td>

    </tr>
    <% } %>
</table>

<br/>

<a href="/complexes/apartmentsTotal" >Every Available Apartment</a>
<br/>
<a href="/complexes/add" >Add a review for a complex</a>

<br/>
<br/>

<a href="/"><< back</a>

<br/>

<%- include("../includes/footer.ejs"); %>