<%- include("../includes/header.ejs", {title:"Complex - "}); %>
<h1>Office Information </h1>
<ul>
    <li>Office Phone Number: <%= result[0].office_phone_number%></li>
    <br/>
    <li>Office Hours: <%= result[0].hours_of_operation%></li>
    <br/>

</ul>


<h2>Manager Information</h2>
<ul>
    <li>Manager Name: <%= result[0].manager_name%></li>
    <br/>
    <li>Manager Phone Number: <%= result[0].manager_phone_number%></li>
    <br/>
    <li>Manager email: <%= result[0].email%></li>
    <br/>


</ul>

<a href="/complexes/?complex_id=<%= result[0].complex_id %>"><< back</a>

<%- include("../includes/footer.ejs"); %>