<%- include("../includes/header.ejs", {title:"Reviews - All"}); %>

<h1>Reviews</h1>

<br />

<table class="table table-hover">
    <tr><th>Review Number</th><th>Rating</th><th>Description</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td> <%= i+1 %> </td>
        <td> <%= result[i].rating %> </td>
        <td> <%= result[i].description %> </td>
    </tr>
    <% } %>
</table>



<%- include("../includes/footer.ejs"); %>