<%- include("../includes/header.ejs", {title:"Add New Reviews"}); %>
<h1>Add a Review</h1>
<form action="/complexes/insert" method="get">

    Complex
    <br />
    <select id="complex_id" name="complex_id" multiple="multiple">
        <% for(var i=0; apartment_complexes.length > i; i++ ) { %>
        <option value="<%= apartment_complexes[i].complex_id %>"><%= apartment_complexes[i].name %></option>
            <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#complex_id').multiselect();
        });
    </script>

    <br />
    <br />

    Description: <input id="description" name="description" type="text" />
    <br />
    <br />
    Rating 1-5: <input id="rating" name="rating" type="text" />
    <br />
    <br />
    <input type="submit" />


</form>
<%- include("../includes/footer.ejs"); %>