<%- include("../includes/header.ejs", {title:"About"}); %>

<h1>About Apartment Finder</h1>

<p>Apartment finder is all about helping the user find the apartment that</p>
<p>fits their needs perfectly! We know looking for an apartment can be</p>
<p>difficult and stressful. So Apartment Finder is her to help you compare</p>
<p>the different apartments in your area until you find the one that you</p>
<p>can't wait to move into! We recently started in 2017 and will be frequently</p>
<p>adding more apartment complexes to our list along with keeping up with</p>
<p>our current apartment complexes information. If you have lived in any</p>
<p>of the apartment complexes on our website please leave a review. Your</p>
<p>input means a lot to us and your fellow apartment hunters out there.</p>
<br/>
<br/>
<br/>
<a href="/images/ERDiagram.jpeg">MY ER Diagram</a>
<br />
<a href="/images/RelationalSchema.jpeg">MY Relation Schema</a>

<%- include("../includes/footer.ejs"); %>