<%- include("../includes/header.ejs", {title:"Contact"}); %>

<h1>Contact Information</h1>

<ul>
    <li>Customer Service Email: customerservice@gmail.com</li>
    <br/>
    <li>Customer Service Phone Number: (666)-917-4191</li>
    <br/>
    <li>Mailing Address: 4444 Apartments Blvd.</li>
    <br/>

</ul>

<%- include("../includes/footer.ejs"); %>